USE [master]
GO
/****** Object:  Database [example]    Script Date: 21/07/2017 13:17:49 ******/
CREATE DATABASE [example]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'example', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\example.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'example_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\example_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [example].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [example]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 21/07/2017 13:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[Password] [nvarchar](256) NOT NULL,
	[RegistredIn] [datetime] NOT NULL,
	[Active] [bit] NOT NULL
) ON [PRIMARY]

GO
USE [master]
GO
